@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Fira Sans', sans-serif;
    /* background-color: #08092e; */
    background-color: #1a1a1a;
    color: white;
}

h1 {
    font-size: 50px;
    margin-top: 110px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 15px;
}

button {
    font-family: 'Fira Sans', sans-serif;
    background-color: #faad14;
    font-size: 16px;
    /* color: #08092e; */
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #faad14;
    margin: 50px 0px;
    transition: border-radius 0.5s;
}
button:hover {
    border-radius: 0px;
}
.line {
    border-top: 1px solid #faad14;
    width: calc(100% - 100px);
    margin: 0px 50px;
    margin-bottom: -20px;
}
.linetext {
    font-size: 30px;
    color: #faad14;
    background-color: #1a1a1a;
    /* background-color: #08092e; */
    padding: 0px 10px;
    margin-left: 90px;
    display: inline-block;
}
.content {
    padding: 40px 100px 40px 100px;
}
.text {
    margin-bottom: 60px;
    font-size: 16px;
}

.links {
    color: white;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid white;
}