@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #08092e;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 100px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
    font-weight: 100;
}

button {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    background-color: white;
    color: #08092e;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid white;
    margin: 50px;
    margin-bottom: 60px;
    transition: border-radius 0.5s;
}
button:hover {
    border-radius: 0px;
}
.line {
    border-top: 1px solid white;
    width: 40%;
    margin-left: 30%;
    margin-bottom: -10px;
}
.linetext {
    background-color: #08092e;
    width: 70px;
    display: inline-block;
}
.spacer {
    margin: 40px;
}
.text {
    margin-bottom: 60px;
}